.card-show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card-show-more__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: $grey--darken;
  background-color: $grey--lighten;
  width: 100%;
}

.card-show-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}

.card-show-more__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: $grey--darken;
}
