.client-story {
  background-color: $grey--lighten;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $table-width) {
    background-image: linear-gradient($white 68%, $grey--lighten 42%);
    border-top: 1px solid $grey--light;
    min-height: 1081px;
  }

  @media (min-width: $desktop-width) {
    min-height: 656px;
    background-image: linear-gradient($white 30%, $grey--lighten 30% 70%);
    border: none;
  }
}

.client-story__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.client-story__slider {
  position: relative;
}

.client-story__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: $black;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $table-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.client-story__content {
  font-family: "Arial", sans-serif;
  margin-bottom: 25px;

  @media (min-width: $table-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.client-story__content-points {
  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.client-story__results {
  margin-bottom: 34px;

  @media (min-width: $table-width) {
    width: 52%;
  }
}

.client-story__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  text-align: center;

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.client-story__controls {
  width: 228px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $table-width) {
    padding-top: 700px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 500px;
  }
}

.client-story__switcher {
  width: 84px;
  background: $white;
  border: 1px solid $grey;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 5px 4px;
}

.client-story__pointer {
  background-color: $accent;
  border-radius: 6px;
  width: 35px;
  height: 6px;
}

.client-story__img {
  text-align: center;

  @media (min-width: $table-width) {
    position: absolute;
  }
}

.client-story__img--closed {
  display: none;

  @media (min-width: $table-width) {
    display: block;
  }
}

.client-story__img--before {
  @media (min-width: $table-width) {
    right: 50%;
  }
}

.client-story__img--after {
  @media (min-width: $table-width) {
    left: 50%;
  }
}

.client-story__button {
  background-color: transparent;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
}
