.contacts-info__text {
  width: 140px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
}

.contacts-info__adress {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 140px;
}
