.contacts {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__content {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: $white;

  &--inner-page {
    background-color: $grey--lighten;
  }

  @media (min-width: $table-width) {
    padding-left: 41px;
    padding-right: 41px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 140px;
    width: 570px;
    background-color: $white;
  }
}

.contacts__map {
  @media (min-width: $table-width) {
    height: 400px;
  }
}
