.footer {
  background-color: $grey--lighten;
}

.footer__bottom {
  @media (min-width: $table-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo-name {
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 32px;
}

.footer__socials {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__copyright {
  padding-top: 28px;
  padding-bottom: 32px;
}
