.logo {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;

  @media (min-width: $table-width) {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 54px;
    margin-bottom: 0;
  }
}

.logo[href]:hover {
  opacity: 0.8;
}

.logo[href]:active {
  opacity: 0.6;
}
