.page {
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  background-color: $basicwhite;
  color: $specialdarkgrey;
  min-width: 320px;
  margin: 0;
}
