.promo {
  position: relative;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 60%, $white 40%);
  margin-bottom: 22px;


  @media (min-width: $table-width) {
    background-image: none;
    margin-bottom: 82px;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../img/index-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 302px;
    z-index: -1;

    @media (min-width: $table-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      content: "";
      position: absolute;
      background-image: url("../../img/background_index_desktop.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 50%;
      min-height: 696px;
      right: 0;
      top: -163px;
      z-index: -1;
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  position: relative;
  align-items: center;

  @media (min-width: $table-width) {
    align-items: flex-start;
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    height: 555px;
    padding-left: 80px;
  }
}

.promo__title {
  margin: 0;
  margin-top: 28px;
  color: $white;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $table-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    width: 415px;
    text-align: left;
    margin-top: 62px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 82px;
  }
}

.promo__slogan {
  color: $white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    margin: 0;
  }
}

.promo__image {
  margin-top: 30px;

  @media (min-width: $table-width) {
    width: 709px;
    height: 609px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    position: absolute;
    left: 448px;
  }
}

.promo__link {
  font-size: 14px;
  line-height: 40px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $table-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    position: absolute;
    top: 300px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}
