.promo {
  background-image: url("../../img/index-background.jpg");
  background-repeat: no-repeat;
  height: 480px;
}

.promo__wrapper {
  padding: 0 20px;
}

.promo__title {
  color: $white;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  color: $white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
