.socials {
  width: 130px;
  margin: 0 auto;
}

.socials__list {
  @include reset;
  display: flex;
  justify-content: space-between;
}

.socials__image--instagram,
.socials__image--vkontakte {
  fill: $grey-dark;
}

.socials__image--facebook {
  fill: none;
  stroke: $grey-dark;

  @media (min-width: $table-width) {
    width: 13px;
  }
}

.socials__link:hover .socials__image--vkontakte {
  fill: $accent;
}

.socials__link:hover .socials__image--instagram {
  fill: $accent;
}

.socials__link:hover .socials__image--facebook {
  stroke: $accent;
}

.socials__link:active {
  opacity: 0.6;
}

.socials__image--vkontakte {
  @media (min-width: $table-width) {
    width: 30px;
  }
}

.socials__image--instagram {
  @media (min-width: $table-width) {
    width: 23px;
  }
}
