$basicgreen: #68B738;
$basicgreen2: #5EAA2F;
$error: #FF8282;
$basicblack: #000000;
$basicwhite: #FFFFFF;
$specialdarkgrey: #444444; //текст
$specialdarkgrey2: #222222; //текст названия продукта
$specialgrey: #EBEBEB;
$specialgrey2: #666666; //иконки
$basicgrey: #F2F2F2;
$basicgrey2: #EAEAEA;
$inputgrey: #E7E7E7;
$inputgreyhover:#CDCDCD;
$inputgreyradiohover: #BABABA;
$darkdarkgrey: #111111;
